body{
	height:3000px;
  	background-color:rgba(0,255,0);
  	position:fixed;
}

#defaultCanvas0{
	margin-top:5%;
	margin-left:5%;	
	width:100%;
}


a{
	font-size:3em;
	margin-left:25%;
	font-family:Helvetica;
	color:#000;
	text-decoration: none;
	filter:blur(5px);
}

a:hover{
	filter:blur(0px);
}